<div class="container">
	<h1> Movie application </h1>
</div>


<div class="container">
	<div class="row">
		<div class='col col-md-8'>
			<h4> This is the request </h4>
			<%= @request %>

			<h4> This is the response </h4>
			<%= @response %>
		</div>
		<div class='col col-md-4'>
			<table class="table" id="movieList">
	    		<thead>
	        		<tr>
	            		<th>Title</th>
	            		<th>Date</th>
	            		<th>Genre</th>
	        		</tr>
	    		</thead>
	    		<tbody>
	    		</tbody>
			</table>
		</div>
	</div>
</div>


	